/* Fonts linked */
@font-face {
    src: url(../fonts/Poppins-Black.ttf);
    font-family: Poppins-Black;
}
@font-face {
    src: url(../fonts/Poppins-BlackItalic.ttf);
    font-family: Poppins;
}
@font-face {
    src: url(../fonts/Poppins-Bold.ttf);
    font-family: Poppins-Bold;
}
@font-face {
    src: url(../fonts/Poppins-BoldItalic.ttf);
    font-family: Poppins;
}
@font-face {
    src: url(../fonts/Poppins-ExtraBold.ttf);
    font-family: Poppins-ExtraBold;
}
@font-face {
    src: url(../fonts/Poppins-ExtraLight.ttf);
    font-family: Poppins-ExtraLight;
}
@font-face {
    src: url(../fonts/Poppins-Light.ttf);
    font-family: Poppins-Light;
}
@font-face {
    src: url(../fonts/Poppins-Medium.ttf);
    font-family: Poppins-Medium;
}
@font-face {
    src: url(../fonts/Poppins-Regular.ttf);
    font-family: Poppins-Regular;
}
@font-face {
    src: url(../fonts/Poppins-SemiBold.ttf);
    font-family: Poppins-SemiBold;
}

/*Reset Css code start*/
* {
    margin: 0px;
    padding: 0px;
    font-family: Poppins-Regular;
}
/*Reset Css code end*/
.main ::after {
    content: '';
    clear: both;
}

/* Section-1 start */
.main .section-1 {
    margin: auto;
    border: 1px solid blue;
    height: 76.6vh;
    background-image: url('../img/top-banner.png');
    background-repeat: no-repeat;
}
/* Section-1 left part start */
.main .section-1 .left {
    width: 50%;
    border: 2px solid red;
    float: left;
}
/* Section-1 left part end */

/* Section-1 right part start */
.main .section-1 .right {
    width: 49%;
    border: 3px solid green;
    float: left;
    text-align: center;
}
.main .section-1 .right img {
    width: 79%;
}
/* Section-1 right part end */