/* Fonts linked */
@font-face {
    src: url(../fonts/Poppins-Black.ttf);
    font-family: Poppins-Black;
}
@font-face {
    src: url(../fonts/Poppins-BlackItalic.ttf);
    font-family: Poppins;
}
@font-face {
    src: url(../fonts/Poppins-Bold.ttf);
    font-family: Poppins-Bold;
}
@font-face {
    src: url(../fonts/Poppins-BoldItalic.ttf);
    font-family: Poppins;
}
@font-face {
    src: url(../fonts/Poppins-ExtraBold.ttf);
    font-family: Poppins-ExtraBold;
}
@font-face {
    src: url(../fonts/Poppins-ExtraLight.ttf);
    font-family: Poppins-ExtraLight;
}
@font-face {
    src: url(../fonts/Poppins-Light.ttf);
    font-family: Poppins-Light;
}
@font-face {
    src: url(../fonts/Poppins-Medium.ttf);
    font-family: Poppins-Medium;
}
@font-face {
    src: url(../fonts/Poppins-Regular.ttf);
    font-family: Poppins-Regular;
}
@font-face {
    src: url(../fonts/Poppins-SemiBold.ttf);
    font-family: Poppins-SemiBold;
}

/*Reset Css code start*/
* {
    margin: 0px;
    padding: 0px;
    font-family: Poppins-Regular;
}
/*Reset Css code end*/
.main ::after {
    content: '';
    clear: both;
}

/* Section-1 start */
.main .section-1 {
    margin: auto;
    height: 76.6vh;
    background-image: url('../img/top-banner.png');
    background-repeat: no-repeat;
}
/* Section-1 left part start */
.main .section-1 .left {
    width: 50%;
    float: left;
    margin-top: 4.0625rem;
    padding-left: 6.25rem;
    padding-right: 8.125rem;
    box-sizing: border-box;
}
.main .section-1 .left h1 {
    font-family: Poppins-Regular;
    font-weight: 700;
    font-size: 3.125rem;
    line-height: 6.875rem;
    color: black;
}
.main .section-1 .left h1 .name-highlighted {
    font-family: Poppins-Regular;
    font-weight: 700;
    font-size: 3.125rem;
    color: orange;
}
.main .section-1 .left h5 {
    font-family: Poppins-Regular;
    font-weight: 700;
    font-size: 1.1875rem;
    line-height: 3rem;
    color: black;
}
.main .section-1 .left p {
    font-family: Poppins-Regular;
    font-weight: 400;
    font-size: 1rem;
    color: black;
}
.main .section-1 .left a {
    display: inline-block;
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    margin-top: 5px;
}
/* Section-1 left part end */

/* Section-1 right part start */
.main .section-1 .right {
    width: 49%;
    float: left;
    text-align: center;
}
.main .section-1 .right img {
    width: 79%;
}
/* Section-1 right part end */






/* Section-2 start */
.main .section-2 {
    margin: auto;
    height: 76.6vh;
    background-image:url('../img/dream-bg.png');
    background-repeat:no-repeat;
    background-position: 100% 30%;
}

/* Section-2 left part start */
.main .section-2 .left-1 {
    width: 49%;
    float: left;
    text-align: center;
}
.main .section-2 .left-1 img {
    width: 79%;
}
/* Section-2 left part end */

/* Section-2 right part start */
.main .section-2 .right-1 {
    width: 50%;
    float: left;
    margin-top: 4.0625rem;
    padding-left: 6.25rem;
    padding-right: 8.125rem;
    box-sizing: border-box;
    position: relative;
}
.main .section-2 .right-1 h1 {
    font-family: Poppins-Regular;
    font-weight: 700;
    font-size: 3.125rem;
    line-height: 6.875rem;
    color: black;
}
.main .section-2 .right-1 h1 .name-highlighted {
    font-family: Poppins-Regular;
    font-weight: 700;
    font-size: 3.125rem;
    color: orange;
}
.main .section-2 .right-1 h5 {
    font-family: Poppins-Regular;
    font-weight: 700;
    font-size: 1.1875rem;
    line-height: 3rem;
    color: black;
}
.main .section-2 .right-1 p {
    font-family: Poppins-Regular;
    font-weight: 400;
    font-size: 1rem;
    color: black;
}
.main .section-2 .right-1 a {
    display: inline-block;
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    margin-top: 5px;
}
.main .section-2 .right-1 img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}
/* Section-2 right part end */

/* Section-2 end*/





/* Section-3 Start */

.main .section-3 {
    clear:both;
    margin-top: ;
    text-align: center;
    background-image:url('../img/exp-bg.png');
    background-size: auto;
    background-repeat:no-repeat;
    background-position: 0% 30%;
    border: 1px solid black;
    position: relative;

}

.main .section-3 h2 {
    font-family: Poppins-Regular;
    font-weight: 700;
    font-size: 3.125rem;
    color: black;
}
.main .section-3 .box-1 {
    text-align: justify;
    width: 40%;
    box-shadow: 5px 7px 40px grey;
    margin-left: 46%;
    margin-right: 5%;
    margin-top: 2%;
    padding-left: 2%;
    padding-top: 30px;
    padding-bottom: 130px;
    padding-right: 1%;
    border-left: 7px solid  tomato;
    display: inline-block;   
}
.main .section-3 .box-1 h3 {
    font-family: Poppins-Regular;
    font-weight: 700;
    font-size: 3.125rem;
    color: black;
    line-height: 7rem;
}
.main .section-3 .box-1 h4 {
    font-family: Poppins-Regular;
    font-weight: 700;
    font-size: 19px;
    color: #ffa500;
    line-height: 2rem;
}
.main .section-3 .box-1 p {
    font-family: Poppins-Regular;
    font-weight: 400;
    font-size: 16px;
    color: #696969;
    padding-top: 15px;
}


/* Section-3 end */